
/* Estilo para a lista de membros */
.member-list {
    margin: 0 auto; /* Centraliza a lista de membros */
    max-width: 600px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px; /* Adiciona um espaço igual à altura da barra de navegação */
}
