/* Estilo para a barra de navegação */
.navbar-frame {
    width: 100%;
    height: 50px;
    border: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000; /* Definido um z-index alto para garantir que a barra de navegação esteja acima de outros elementos */
    overflow: hidden; /* Impede a rolagem da barra de navegação */
}
