/* Estilos para o ícone do menu */
.menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: transform 0.4s;
}

.menu-icon::before {
    transform: rotate(45deg);
}

.menu-icon::after {
    transform: rotate(-45deg);
}

.menu-toggle:checked + .menu-icon::before {
    transform: rotate(135deg);
    margin-top: -1px;
}

.menu-toggle:checked + .menu-icon::after {
    transform: rotate(-135deg);
    margin-top: 1px;
}

/* Restante do código para o menu de navegação permanece o mesmo */
