/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-top: 2rem;
}

p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaa;
  color: #fff;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-top: 5rem;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin-bottom: 15px;
}

footer a {
  color: #8b0000;
  text-decoration: none;
}

footer img {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Estilos para a barra de navegação */
.navbar {
  background-color: #333; /* Cor de fundo da barra de navegação */
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2; /* Cor do texto */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd; /* Cor de fundo quando hover */
  color: black; /* Cor do texto quando hover */
}

.navbar a.active {
  background-color: #4CAF50; /* Cor de fundo do item ativo */
  color: white; /* Cor do texto do item ativo */
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}
